@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .max-w-2xs {
    max-width: 12rem;
  }
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: #f6f6f6;
}
